.rightside{
	margin-top:10%;
	margin-right:4%;
}
div.leftside{
	padding-top : 5%;	
	margin-right:3.5%;
}
.login-div{
	margin-right:3.5%;
}
.info{
	margin-top:4%;
	margin-left:4%;
}
div.register-image{
	max-width:15%;
}
div.content div.address{
	margin:1%;
	padding:1%;
	border:1px solid black
}
.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #00bcd4;
      border: 0;
      font-size: 11px;
      letter-spacing: 4px;
      opacity: 1;
 }
.navbar li a, .navbar .navbar-brand { 
  color: #ffff;
}
.navbar-collapse .navbar-nav li a{
	color: #ffff;
}
.navbar-nav li a:hover {
  color: #fff;
}
.navbar-nav li.active a {
  color: #fff;
  background-color: #29292c	;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
}

#myTable th, #myTable td {
  padding: 8px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}


.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
	margin-top:20px;
}